.square{
    width:100px;
    height: 100px;
    background:purple;
 margin: 5px;
 float: left;
 border-radius: 30px;
 

 
 

}
#head{background-color:magenta;
color:black;
 
border-radius: 15px;
padding: 20px 10px;}
.displayColor{
    background-color: green;
    font-size: 30px !important;
}
 
 .selected{
background-color: green !important;
 }

 /* #hard{
    background-color: green !important;
 } */

 #displayColor{
     font-size: 40px !important;
 }
